{% extends "layout.html" %}

{% block title %}Dry Lab{% endblock %}
{% block lead %}{% endblock %}

{% block scroll_nav %}
<nav class="side-scroll-nav scroll-nav" style="font-size: 0.7rem; width: 180px;">
    <span class="side-scroll-nav-label">On This Page</span>
    <a class="highlight-green" href="#workflow-overview"><span>No-Code Bayesian Optimisation Workflow</span></a>
    <a class="highlight-green" href="#astaxanthin-target"><span>Astaxanthin as Quantification Target</span></a>
    <a class="highlight-green" href="#experimental-optimisation"><span>Further Experimental Optimisation</span></a>
    <a class="" href="#references">References</a>
</nav>
{% endblock %}

{% block page_content %}

<div class="education-hero hp-banner">
    <div class="education-hero-content-container">
        <h1 class="text-glitch">DRY LAB</h1>
    </div>
</div>

<div class="spacer5"></div>

<!-- NO-CODE BAYESIAN OPTIMISATION WORKFLOW -->
<div class="page-section width-75" style="margin-left: 200px;" id="workflow-overview">
    <h2 style="text-align: left;">
        <span class="highlight-green animate-text-scramble">No-Code Bayesian Optimisation Workflow</span>
    </h2>
    <p style="text-align: left;">
        During our experiments, we noted that having an easy to use <strong>optimisation model</strong> would be useful
        for various aspects of our experiments, such as <strong>media</strong> composition, <strong>incubation</strong>
        times, and bioreactor and shake flask <strong>maintenance</strong>. Through a comprehensive review of scientific
        literature and past iGEM projects, we realised that a <strong>no-code batch Bayesian optimisation workflow that
            was generalisable to many different aspects of an experiment would be a novel contribution to iGEM</strong>.
        Thus, we developed <a href="{{ url_for('pages', page='model') }}"><strong><u>BioKernel</u></strong></a>
    </p>
    <div class="spacer"></div>
    <p style="text-align: left;">
        To validate this workflow, we designed an experiment that would test the effectiveness of our optimisation
        algorithm by attempting to have it optimise inducer concentrations for a metabolic pathway controlled by
        orthogonal inducers.
    </p>
    <div class="spacer"></div>
    <p style="text-align: left;">
        We came across the core paper for our experiment through an initial literature review, which contributed a
        “Marionette” strain of <em>E. coli</em> with twelve highly <strong>orthogonal optimised inducers</strong> for
        the fine-tuning of inducible pathways in <em>E. coli</em>[1]. We planned an experiment around this strain that
        would produce <strong>astaxanthin</strong>, a carotenoid that can be quantified by 96-well plate assays without
        the need for cell lysis, which substantially simplifies our experimental workflow and allows for higher
        throughput[2].
    </p>
</div>

<div class="spacer3"></div>

<!-- ASTAXANTHIN AS A FINAL TARGET -->
<div class="page-section width-75" style="margin-left: 200px;" id="astaxanthin-target">
    <h2 style="text-align: left;">
        <span class="highlight-green animate-text-scramble">Astaxanthin as a Final Target for Quantification</span>
    </h2>
    <p style="text-align: left;">
        The carotenoid pathway is one of the most thoroughly characterised pathways that yields an end product whose
        concentration can be colorimetrically determined. <strong>Extensive research</strong> has been taken into
        improving the efficiency of carotenoid production, with particular interest in beta-carotene. Yang first
        reported a high yield of beta-carotene accomplished by co-expressing the mevalonate (MVA) and methylerythritol
        4-phosphate (MEP) pathways in <em>E. coli</em> BL21[3]. More literature from 2016 points towards the high
        efficiency of isoprene and carotenoid production, with Yang reporting a yield of 24.0 g/L of isoprene[4].
    </p>
    <div class="spacer"></div>
    <p style="text-align: left;">
        However, we decided not to pursue this dual-pathway co-expression approach since it would take our total enzyme
        count over 12, the <strong>maximum</strong> that the Marionette strains of <em>E. coli</em> could handle.
    </p>
    <div class="spacer"></div>
    <p style="text-align: left;">
        We settled on using only the MEP pathway, assuming that although the pathway was endogenous to <em>E. coli</em>,
        Bayesian Optimization’s black-box nature and negative feedback from the relatively high expression of each
        intermediate would <strong>minimise the effect</strong> this would have on our pathway as a unit.
    </p>
    <div class="spacer"></div>
    <p style="text-align: left;">
        While looking into ways to quantify beta-carotene from 96-well plates, we realised that astaxanthin may be a
        <strong>better alternative</strong> for quantifying a carotenoid. Zhang reported a R-squared value of 0.9548
        when quantifying the extracellular concentration of astaxanthin against the intracellular concentration, in
        contrast to <strong>much poorer values</strong> for other carotenoids[9]. This is because astaxanthin’s chemical
        structure allows is to diffuse through the plasma membrane <strong>more easily</strong>. This prompted us to add
        CrtW and CrtZ to our enzymatic pathway to produce astaxanthin instead of beta-carotene, enabling the
        high-throughput quantification of carotenoids more feasible on a tight time frame.
    </p>
</div>

<div class="spacer3"></div>

<!-- FURTHER OPTIMISATION OF EXPERIMENTAL PLAN -->
<div class="page-section width-75" style="margin-left: 200px;" id="experimental-optimisation">
    <h2 style="text-align: left;">
        <span class="highlight-green animate-text-scramble">Further Optimisation of Experimental Plan</span>
    </h2>
    <p style="text-align: left;">
        While looking into genetic circuit design and the Marionette strain of <em>E. coli</em>, we realised that adding
        insulators to our transcriptional units would give us <strong>more confidence</strong> that whatever change in
        expression results from a change in the inducer concentrations is due to the inducer concentration only.
    </p>
    <div class="spacer"></div>
    <p style="text-align: left;">
        Insulators are genetic elements used to maintain the heterologous and orthogonal nature of the expression
        patterns of all enzymes used in our experiment. This is because there is the potential for enhancement or
        silencing of the sequences randomly by sequences we did not consider. Insulators provide an extra level of
        safety to limit the effects of these faraway sequences.
    </p>
    <div class="spacer"></div>
    <p style="text-align: left;">
        We came across a 2016 article that describes a set of orthogonal insulators of which we chose to use eleven for
        our experiment[5].
    </p>
    <div class="spacer"></div>
    <p style="text-align: left;">
        While looking into ways to further optimise the experimental design, we realised that we could optimise the RBS
        sequence to standardise the translational initiation strength of our proteins. We chose to use the RBS
        Calculator from De Novo DNA[6] in order to generate the optimal RBS for our sequences.
    </p>
</div>

<div class="spacer3"></div>

<!-- REFERENCES -->
<div class="page-section width-75" style="margin-left: 200px;" id="references">
    <h2 style="text-align: left;">
        <span class="animate-text-scramble">References</span>
    </h2>
    <ol style="text-align: left; margin-left: 1.5rem; line-height: 1.6;">
        <li id="ref-1">Meyer, A. J., Segall-Shapiro, T. H., Glassey, E. <em>et al.</em> <em>Escherichia coli</em>
            “Marionette” strains with 12 highly optimized small-molecule sensors. <em>Nat. Chem. Biol.</em>
            <strong>15</strong>, 196–204 (2019). https://doi.org/10.1038/s41589-018-0168-3
        </li>
        <li id="ref-2">Zhang, C., Seow, V. Y., Chen, X. <em>et al.</em> Multidimensional heuristic process for
            high-yield production of astaxanthin and fragrance molecules in <em>Escherichia coli</em>. <em>Nat.
                Commun.</em> <strong>9</strong>, 1858 (2018). https://doi.org/10.1038/s41467-018-04211-x</li>
        <li id="ref-3">Yang, J., Guo, L. Biosynthesis of β-carotene in engineered <em>E. coli</em> using the MEP and MVA
            pathways. <em>Microb. Cell Fact.</em> <strong>13</strong>, 160 (2014).
            https://doi.org/10.1186/s12934-014-0160-x</li>
        <li id="ref-4">Yang, C., Gao, X., Jiang, Y., Sun, B., Gao, F., Yang, S. Synergy between methylerythritol
            phosphate pathway and mevalonate pathway for isoprene production in <em>Escherichia coli</em>. <em>Metab.
                Eng.</em> <strong>37</strong>, 79–91 (2016). https://doi.org/10.1016/j.ymben.2016.05.003</li>
        <li id="ref-5">Nielsen, A. A. K. <em>et al.</em> Genetic circuit design automation. <em>Science</em>
            <strong>352</strong>, aac7341 (2016). https://doi.org/10.1126/science.aac7341
        </li>
        <li id="ref-6">Reis, A. C. & Salis, H. M. An automated model test system for systematic development and
            improvement of gene expression models. <em>ACS Synth. Biol.</em> <strong>9</strong>(11), 3145–3156 (2020).
        </li>
    </ol>
</div>

{% endblock %}