{% extends "layout.html" %}
{% block body_class %}team-page-wide{% endblock %}

{% block title %}Team{% endblock %}

{% block page_styles %}
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
{% endblock %}

{% block scroll_nav %}
<nav class="side-scroll-nav scroll-nav">
    <span class="side-scroll-nav-label">On This Page</span>
    <a href="#members-section">Team Members</a>
    <a href="#advisors-section">Advisors & Mentors</a>

</nav>


{% endblock %}


{% block page_content %}

<div class="education-hero team-banner">
    <div class="education-hero-content-container">
        <h1>TEAM</h1>
    </div>
</div>





<div class="page-section" id="members-section">
    <div class="team-grid">

        <div class="tagline-subline tagline-subline-bold" style="text-align: left; margin-bottom: -2%;"><span>MEET THE
                TEAM!</span></div>

        <div class="team-member">
            <img src="https://static.igem.wiki/teams/5916/assets/images/team/jonathan1.webp" alt="Photo of Jonathan"
                class="member-photo">
            <div class="member-textbox">
                <div class="member-info">
                    <h3 class="member-name animate-text-scramble">Jonathan Collard</h3>
                    <div class="member-role">Team Lead</div>

                    <div class="spacer3"></div>

                    <p style="text-align: left;"><i>MSc Chemical Engineering ‘25</i></p>
                    <p style="text-align: left;">Hi, I’m Jonathan. I’m from Indonesia. I both love and hate the
                        sheer complexity of biology, but applying it is my favorite part. I’m really interested in
                        how biology does so well to stop us from scaling it up so it can have real impact on our
                        society. So right now I’ve put myself at the intersections of biomanufacturing, bioprocess
                        engineering, and optimization. Outside the lab, you’ll usually find me swimming or behind a
                        camera.</p>

                </div>

            </div>
        </div>

        <div class="team-member">
            <img src="https://static.igem.wiki/teams/5916/assets/images/team/szonja.webp" alt="Photo of Szonja"
                class="member-photo">
            <div class="member-textbox">
                <div class="member-info">
                    <h3 class="member-name no-wrap animate-text-scramble">Szonja Skenderovic</h3>
                    <div class="member-role">Team Lead</div>

                    <div class="spacer3"></div>

                    <p style="text-align: left;"><i>BSc Biochemistry ‘26</i></p>
                    <p style="text-align: left;">I’m Szonja, a Biochemistry student from Hungary and part of
                        Imperial’s iGEM team this year. I grew up on Croatian beaches and I actually want to cave
                        dive one day — always chasing the next challenge. When I’m not hands-on with biotech in the
                        lab, I love coming up with crazy venture ideas and seeing where they take me.</p>

                </div>

            </div>
        </div>

        <div class="team-member">
            <img src="https://static.igem.wiki/teams/5916/assets/images/team/yeline.webp" alt="Photo of Yeline"
                class="member-photo">
            <div class="member-textbox">
                <div class="member-info">
                    <h3 class="member-name animate-text-scramble">Yeline Idir</h3>
                    <div class="member-role">Team Lead</div>
                    <div class="spacer3"></div>
                    <p style="text-align: left;"><i>MEng Biomedical Engineering ‘26</i></p>
                    <p style="text-align: left;">I’m Yeline, from Morocco, living at the intersection of science,
                        chaos & creativity. I speak 4.5 languages, overthink everything, and dream in prototypes. My
                        academic interests orbit around healthtech, therapeutics, and innovation! And when I’m not
                        deep in ideas, I’m probably getting stained with paint. I signed up for iGEM to make bio a
                        little wilder... Stay tuned and see what’s next :)</p>
                </div>
            </div>
        </div>

        <div class="team-member">
            <img src="https://static.igem.wiki/teams/5916/assets/images/team/aki.webp" alt="Photo of Aki"
                class="member-photo">
            <div class="member-textbox">
                <div class="member-info">
                    <h3 class="member-name no-wrap animate-text-scramble">Akihito Gohdo</h3>
                    <div class="member-role">Wet-Lab Lead</div>
                    <div class="spacer3"></div>
                    <p style="text-align: left;"><i>BSc Medical Biosciences ‘27</i></p>
                    <p style="text-align: left;">初めまして, I’m Akihito(Aki), currently studying Medical Biosciences at
                        Imperial. My lab interests include metabolic engineering, cancer biology, and genomics.
                        Outside of the lab, I’m usually producing music, cycling, or cooking for myself. Nice to
                        meet you! よろしく！</p>
                </div>
            </div>
        </div>

        <div class="team-member">
            <img src="https://static.igem.wiki/teams/5916/assets/images/team/pov1.webp" alt="Photo of Pov"
                class="member-photo">
            <div class="member-textbox">
                <div class="member-info">
                    <h3 class="member-name no-wrap animate-text-scramble">Povilas Sauciuvienas</h3>
                    <div class="member-role">Dry-Lab Lead</div>
                    <div class="spacer3"></div>
                    <p style="text-align: left;"><i>MEng Molecular Bioengineering ‘26</i></p>
                    <p style="text-align: left;">Hey, I’m Povilas, the Dry Lab team lead. I do Bioengineering and
                        study Data Science on the side. I’m extremely eager for how AI (just not the vibe coded one)
                        will revolutionize the field of biology. I love gymming and have the sleep schedule of a
                        baby. I also somehow managed to not start drinking despite being from Eastern Europe (not
                        really, Lithuania) and playing Rugby.</p>
                </div>
            </div>
        </div>

        <div class="team-member">
            <img src="https://static.igem.wiki/teams/5916/assets/images/team/frederick1.webp" alt="Photo of Frederick"
                class="member-photo">
            <div class="member-textbox">
                <div class="member-info">
                    <h3 class="member-name animate-text-scramble">Frederick Steinmann</h3>
                    <div class="member-role">Wet- and Dry-Lab Member</div>
                    <div class="spacer3"></div>
                    <p style="text-align: left;"><i>MEng Molecular Bioengineering ‘28</i></p>
                    <p style="text-align: left;">My name’s Frederick, I’m a Molecular Bioengineering undergrad from
                        Switzerland. I have a strong interest in math in biology and cellular engineering
                        applications. Outside of rotting in the lab or staring at publication graphs you may find me
                        enjoying life, coffee, or international relations. I’m engaged with competitive debate at
                        Imperial, for better or worse.</p>
                </div>
            </div>
        </div>

        <div class="team-member">
            <img src="https://static.igem.wiki/teams/5916/assets/images/team/zichen1.webp" alt="Photo of Zichen"
                class="member-photo">
            <div class="member-textbox">
                <div class="member-info">
                    <h3 class="member-name animate-text-scramble">Zichen He</h3>
                    <div class="member-role">Dry-Lab Member</div>
                    <div class="spacer3"></div>
                    <p style="text-align: left;"><i>BSc Biotechnology ‘25</i></p>
                    <p style="text-align: left;">Hi! I’m Zichen, a recent Biotechnology graduate. I grew up in the
                        UK, making me the only ‘british’ student of our very multicultural team! I’m really
                        interested in mathematical modelling and machine learning, but also dabble in badminton and
                        climbing outside this :)</p>
                </div>
            </div>
        </div>

        <div class="team-member">
            <img src="https://static.igem.wiki/teams/5916/assets/images/team/anabel.webp" alt="Photo of Team Member"
                class="member-photo">
            <div class="member-textbox">
                <div class="member-info">
                    <h3 class="member-name animate-text-scramble">Anabel Lau</h3>
                    <div class="member-role">Wet-Lab Member</div>
                    <div class="spacer3"></div>
                    <p style="text-align: left;"><i>BSc Biochemistry ‘26</i></p>
                    <p style="text-align: left;">Hi, I’m Anabel, a Biochemistry student from Hong Kong. I’m drawn to
                        the complexities of understanding how biological systems and genomics are controlled.
                        Outside the lab, you’ll find me playing guitar, tossing a frisbee, or with a pint in hand.
                    </p>
                </div>
            </div>
        </div>

        <div class="team-member">
            <img src="https://static.igem.wiki/teams/5916/assets/images/team/tiffany.webp" alt="Photo of Tiffany"
                class="member-photo">
            <div class="member-textbox">
                <div class="member-info">
                    <h3 class="member-name animate-text-scramble">Tiffany Lin</h3>
                    <div class="member-role">Social Media Lead</div>
                    <div class="spacer3"></div>
                    <p style="text-align: left;"><i>BSc Biological Sciences ‘27</i></p>
                    <p style="text-align: left;">Hi, I'm Tiffany, an undergrad student who runs on Redbull (pink
                        edition), Canva, and an alarming number of Google Chrome tabs. I love researching in the
                        field of SynBio due to the unlimited possibilities to design, build, and test future
                        bio-applications. I enjoy collecting languages like its Pokémon and also live to make
                        everything scientifically aesthetic.</p>
                </div>
            </div>
        </div>

        <div class="team-member">
            <img src="https://static.igem.wiki/teams/5916/assets/images/team/asay.webp" alt="Photo of Team Member"
                class="member-photo">
            <div class="member-textbox">
                <div class="member-info">
                    <h3 class="member-name animate-text-scramble">Asay</h3>
                    <div class="member-role">Downstream Lead</div>
                    <div class="spacer3"></div>
                    <p style="text-align: left;">Hi, I’m Asay! I’m from Turkey and Spain, and I study Chemical Engineering. I’m passionate about
                        applying engineering principles to real-world biological challenges. I’m especially interested
                        in biotechnology and sustainable systems, and that’s what I hope to work on in the future.</p>
                </div>
            </div>
        </div>
        <div class="team-member">
            <img src="https://static.igem.wiki/teams/5916/assets/images/team/	processed-890755a7-d833-48be-8ca9-0dc38b3e2506.webp" alt="Photo of Team Member"
                class="member-photo">
            <div class="member-textbox">
                <div class="member-info">
                    <h3 class="member-name animate-text-scramble">Amber</h3>
                    <div class="member-role">Education Member</div>
                    <div class="spacer3"></div>
                    <p style="text-align: left;">MSc Physics ‘26</p>
                    <p style="text-align: left;">I’m Amber a first year Biochemistry student at Imperial. 
                        I love researching, writing and working in the lab on experiments (that may or may not work..). 
                        I am a climate tech enthusiast with a particular interest in how synthetic biology 
                        can solve issues regarding the planet. 
                        When I’m not in the lab, I’m probably designing a new dress, in a jazz club, 
                        or booking another ticket to Paris. Excited for the journey ahead!</p>
                </div>
            </div>
        </div>

        <div class="team-member">
            <img src="https://static.igem.wiki/teams/5916/assets/images/team/hugo.webp" alt="Photo of Team Member"
                class="member-photo">
            <div class="member-textbox">
                <div class="member-info">
                    <h3 class="member-name animate-text-scramble">Hugo</h3>
                    <div class="member-role">Wiki Development Lead</div>
                    <div class="spacer3"></div>
                    <p style="text-align: left;">MSc Physics ‘26</p>
                    <p style="text-align: left;">Hi, I'm Hugo, a Physics student from the UK. I'm particularly
                        fascinated by computational physics and how we can model complex systems to uncover the
                        nature of reality. Outside of my studies, I'm passionate about economics, literature, and
                        music. And yes, while I'm certainly dedicated to my work and can put in those 12-hour days,
                        have no doubt you’ll find me on the dance floor afterwards!</p>
                </div>
            </div>
        </div>

        <div class="team-member">
            <img src="https://static.igem.wiki/teams/5916/assets/images/team/erika.webp" alt="Photo of Team Member"
                class="member-photo">
            <div class="member-textbox">
                <div class="member-info">
                    <h3 class="member-name animate-text-scramble">Erika</h3>
                    <div class="member-role">Design Lead</div>
                    <div class="spacer3"></div>
                    <p style="text-align: left;">BA Design, Screen, Media ‘28</p>
                    <p style="text-align: left;">My name is Erika Kasuga, and I am an artist and design student at
                        Central Saint Martins specifically interested human centered design. I split my time between
                        London, Tokyo and the US. In my free time, you'll find me at live houses and galleries.</p>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="spacer3"></div>

<div class="page-section" id="advisors-section">

    <div class="team-grid">

        <div class="tagline-subline tagline-subline-bold" style="text-align: left; margin-bottom: -2%;"><span>Advisors &
                Mentors</span></div>

        <div class="team-member">
            <img src="https://static.igem.wiki/teams/5916/assets/images/team/rodrigo.webp" alt="Photo of Team Member"
                class="member-photo">
            <div class="member-textbox">
                <div class="member-info">
                    <h3 class="member-name animate-text-scramble">Prof. Rodrigo-Ledesma Amaro</h3>
                    <div class="member-role">Primary PI</div>
                    <div class="spacer"></div>
                    <p style="text-align: left;">Rodrigo Ledesma-Amaro is the Director of the Bezos Centre for Sustainable Protein and of the Microbial Food Hub. 
                        He leads a research group at the interface of 
                        synthetic biology and
                        metabolic engineering. His research lab is based in the Department of Bioengineering and the
                        Center for Synthetic Biology and Innovation.</p>
                </div>
            </div>
        </div>

        <div class="team-member">
            <img src="https://static.igem.wiki/teams/5916/assets/images/team/jason.webp" alt="Photo of Team Member"
                class="member-photo">
            <div class="member-textbox">
                <div class="member-info">
                    <h3 class="member-name animate-text-scramble">Dr. Jason Yu</h3>
                    <div class="member-role">Secondary PI</div>
                    <div class="spacer"></div>
                    <p style="text-align: left;">Jason is a Postdoctoral Research Fellow whose research interests centre
                        around investigating
                        the genetic mechanims that regulate differentiation and reprogramming. He is particularly
                        interested in the use of genome-wide forward genetic screens to identify novel factors that
                        contribute to these processes.</p>
                </div>
            </div>
        </div>

        <div class="team-member">
            <img src="https://static.igem.wiki/teams/5916/assets/images/team/alex.webp" alt="Photo of Team Member"
                class="member-photo">
            <div class="member-textbox">
                <div class="member-info">
                    <h3 class="member-name animate-text-scramble">Dr. Alexander Van de Steen</h3>
                    <div class="member-role">Advisor</div>
                    <div class="spacer"></div>
                    <p style="text-align: left;">I am a post-doctoral bioengineering research associate at Imperial
                        College London, working
                        with Prof. Tom Ellis, Central Saint Martins and an LVMH subsidiary towards sustainable
                        protein-based materials. Following my PhD, I am developing my biological engineering
                        experience with industry-appropriate methodologies. My ambition is to support biotech
                        solutions to reduce human impact on our environment. I believe this impact will be
                        substantially achieved through the rapid scale-up in food-grade recombinant macromolecules.
                    </p>
                </div>
            </div>
        </div>

        <div class="team-member">
            <img src="https://static.igem.wiki/teams/5916/assets/images/team/lisa.webp" alt="Photo of Team Member"
                class="member-photo">
            <div class="member-textbox">
                <div class="member-info">
                    <h3 class="member-name animate-text-scramble">Dr. Lisa Neidhardt</h3>
                    <div class="member-role">Advisor </div>
                    <div class="spacer"></div>
                    <p style="text-align: left;">Hey there! I’m Lisa! Originally from Germany, I’ve been living in the
                        UK for a while now,
                        where I completed my PhD in Cambridge. My research focused on stress pathways in mammalian
                        cells, and I expressed and purified over 100 different proteins for biophysical analysis.
                        Now, I joined the food team at the RLA lab to explore the use of Yarrowia lipolytica for
                        biomass fermentation. I’m passionate about community building — I’m a regional mentor for
                        the Good Food Institute, where I support student groups in the sustainable food tech space.
                        To balance all that brain work, I love staying active. You’ll often find me climbing,
                        dancing (5Rhythms and contact improvisation), hiking, or taking a cold water swim.</p>
                </div>
            </div>
        </div>

        <div class="team-member">
            <img src="https://static.igem.wiki/teams/5916/assets/images/team/oliver.webp" alt="Photo of Team Member"
                class="member-photo">
            <div class="member-textbox">
                <div class="member-info">
                    <h3 class="member-name animate-text-scramble">Dr. Oliver Konzock</h3>
                    <div class="member-role">Advisor</div>
                    <div class="spacer"></div>
                    <p style="text-align: left;">I am originally from Germany and completed my PhD at Chalmers
                        University of Technology in
                        Gothenburg, Sweden. My research focuses on harnessing the oleaginous yeast Yarrowia
                        lipolytica to produce various lipids, particularly food oils. I am passionate about
                        advancing microbial biotechnology to create sustainable solutions for the future of food
                        production.</p>
                </div>
            </div>
        </div>

        <div class="team-member">
            <img src="https://static.igem.wiki/teams/5916/assets/images/team/sabya.webp" alt="Photo of Team Member"
                class="member-photo">
            <div class="member-textbox">
                <div class="member-info">
                    <h3 class="member-name animate-text-scramble">Sabyasachi Banerjee</h3>
                    <div class="member-role">Advisor </div>
                    <div class="spacer"></div>
                    <p style="text-align: left;">Sabyasachi Banerjee is a PhD scholar at BITS Pilani specializing in
                        synthetic biology, enzyme
                        engineering, and advanced bioprocessing. His research spans epigenetics at the Department of
                        Atomic Energy (CEBS), defense applications at DRDO, and biomaterial testing at TÜV
                        Rheinland, with recognition including a presentation before the Hon’ble Prime Minister of
                        India. For over four years, he has mentored iGEM teams globally, guiding students in turning
                        scientific ideas into viable business models. An author of book chapters on cystic fibrosis,
                        ovarian cancer, and agribiotechnology, he also dedicates time to nonprofit work in
                        education, relief efforts, and environmental conservation.</p>
                </div>
            </div>
        </div>
        <div class="team-member">
            <img src="https://static.igem.wiki/teams/5916/assets/images/team/shan.avif" alt="Photo of Shan Jiang"
                 class="member-photo">
            <div class="member-textbox">
                <div class="member-info">
                    <h3 class="member-name animate-text-scramble">Shan Jiang</h3>
                    <div class="member-role">Advisor</div>
                    <div class="spacer"></div>
                    <p style="text-align: left;"> I am Shan Jiang, co-founder of <strong>Ailurus Bio</strong>. 
                        Ailurus is a biological programming company creating tools that instruct living systems 
                        to automate complex biological workflows and unlock new research possibilities. 
                        I started my journey in iGEM in 2017 as a student leader, then as an advisor and judge — a role I continue to this day.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}